<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.summerpublicapi.login.mapper.LoginMapper">
    <select id="login" parameterType="com.example.summerpublicapi.login.dao.param.LoginParam"
    resultType="java.lang.Integer">
        select count(1) from sys_user where login_id = #{login.loginName} and login_password = #{login.password} and user_status = '1'
    </select>

    <select id="getUserInfo" resultType="com.example.summerpublicapi.common.dto.UserInfo">
        select
            user_id as userId,
            user_name as userName,
            login_id as loginName
        from
            sys_user
        where login_id = #{login.loginName}
        and user_status = '1'
        limit 1
    </select>
</mapper>
