<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.summerpublicapi.bigclassify.mapper.BigClassifyMapper">

    <select id="queryBigClassify"
            resultType="com.example.summerpublicapi.bigclassify.dao.result.BigClassifyQueryResponse">
        select
        T1.big_classify_id as bigClassifyId,
        T1.big_classify_name as bigClassifyName,
        T1.operator_status as  operatorStatus,
        date_format(T1.create_time, '%Y-%m-%d %H:%i:%s') createTime,
        date_format(T1.update_time, '%Y-%m-%d %H:%i:%s') updateTime,
        T1.remark as remark,
        T2.user_name createUserName,
        T3.user_name updateUserName
        from sys_big_classify T1 left join sys_user T2
        on T1.create_user_id = T2.user_id
        left join sys_user T3
        on T1.create_user_id = T3.user_id
        <where>
       <if test="request.bigClassifyName != null and request.bigClassifyName != ''">
           and big_classify_name  like concat(concat('%',#{request.bigClassifyName,jdbcType=VARCHAR}),'%')
       </if>
       <if test="list != null and list.size() > 0">
           and operator_status in
           <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
           </foreach>
       </if>
        <if test="request.equalName != null and request.equalName != ''">
            and big_classify_name  =#{request.equalName}
        </if>
        </where>
    </select>

    <!-- 插入大分类 -->
    <insert id="addBigClassify">
          insert into sys_big_classify(operator_status,big_classify_name,remark,create_time,create_user_id,update_time,update_user_id)
          values('1',#{param.bigClassifyName},#{param.remark},SYSDATE(),#{param.userId},SYSDATE(),#{param.userId})
    </insert>

    <update id="updateBigClassify">
        update sys_big_classify set
                    update_time = sysdate(),

                    <if test="param.bigClassifyName != null and param.bigClassifyName != ''">
                        big_classify_name = #{param.bigClassifyName},
                    </if>
                 <if test="param.remark != null and param.remark != ''">
                     remark =        #{param.remark},
                 </if>
                <if test="param.updateStatus != null and param.updateStatus != ''">
                    operator_status =        #{param.updateStatus},
                </if>
                update_user_id = #{param.userId}
        where big_classify_id = #{param.bigClassifyId}
    </update>

</mapper>